@{
    ViewBag.Title = "Welcome to Columbo's Minesweeper!";
}

<h2>Start A Game</h2>
<p>
    @using (Html.BeginForm("StartGame9x9", "Home"))
    {                        
        <input id="btnStartGame9x9" type="submit" value="Start Game with a minefield of 3 x 3" />
    }    
</p>
