@model Columbo.Minesweeper.Domain.Presentation.Views.MinefieldModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        <table id="minefield">
            @foreach (var row_of_tiles in Model.tiles){
                <tr>
                @foreach (var tile in row_of_tiles){                
                    <td>
                    <a href="@Url.Action("Reveal", new { col = 1, row = 2 })"><img border="0" id="UnrevealedTile" src="/Images/UnrevealedTile.gif" /></a></td>                
                }
                </tr>
             }                        
        </table>
    </div>
</body>
</html>
