@model Columbo.Minesweeper.Application.Queries.Views.MinefieldView
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>    
    <script src="/Scripts/jquery-1.6.1.js" type="text/javascript"></script>    
    <script src="/Scripts/jquery.tmpl.js" type="text/javascript"></script>    
    <script src="/Scripts/knockout-1.2.1.js" type="text/javascript"></script>
    <script src="/Scripts/GameViewModel.js" type="text/javascript"></script>
</head>
<body>
    
    <div id="win-message" data-bind="visible: game_won">
        You have won!
    </div>

    <div id="lose-message" data-bind="visible: game_lost">
        You have lost!
    </div>

    <div id="start-new-game" data-bind="visible: game_has_finished">
         @using (Html.BeginForm("FinishGame", "Game"))
            {                
                <input id="btnStartNewGame" type="submit" value="Start New Game" />        
                <br /><br />
            }
    </div>    

    <table id="minefield">    
        <tbody data-bind="template: 'gridTemplate'"></tbody>
    </table>

    <script type="text/x-jquery-tmpl" id="gridTemplate">
        {{each rows}}
            <tr data-bind="template: { name: 'rowTemplate', foreach: tiles }"></tr>                 
        {{/each}}
    </script>

    <script type="text/html" id="rowTemplate">                                
        <td>
            <img id="${row}_${column}" data-bind="click: reveal" border="0" id="EmptyTile" src="/Images/${tile_image}.gif")" />              
        </td>                
    </script> 

    
<script type="text/javascript">

    var viewModel = new taskListViewModel();

    ko.applyBindings(viewModel);

</script>
</body>
</html>
